.nav{
    display: flex;
    justify-content: space-between;
    margin: 1% 25%;
    color: gray;
    text-align: center;
    
}
#part1{
    display:flex;
    border: solid 2px yellow;
    border-radius: 4px;
    background-color: yellow;
    justify-content: space-between;
}
/*.heading2{
    text-align: center;
    margin: 4% 35%;
    color:black;
}*/

.btn4{
    border: solid gray 2px;
    border-radius: 4px; 
    margin-top: 25px;
    padding-right: 2px;
    padding-top: 15px;
    padding-bottom: 5px;
}
#searchbtn{
    border-radius: 4px; 
    margin-right: 450px;
    margin-top: 25px;
    padding-right: 200px;
    padding-top: 15px;
    padding-bottom: 5px;
}
.icons{
    margin: 2%;
    padding-right: 5px;
}



#btn12{
    padding: 0px, 200px;
    margin-left: 0%;
    color: black;
    background-color:white;
    border: solid rgb(124, 243, 124) ;
    width: 300px;
    height: 40px;
    border-radius: 5px;
}
#btn1{
    padding: 0px, 150px;
    margin-left: 0%;
    color: white;
    background-color: orange;
    border: solid orange 5px;
    width: 300px;
    height: 40px;
    border-radius: 5px;
}


.orders{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
}
#word1{
    display: flex;
    justify-content: space-between;
    margin-top: 0%;
    margin-left: 10%;
    
}
#word2{
    margin-left: 160%;
    margin-top: 3%;
}
#word21{
    margin-left: 125%;
    margin-top: 3%;
}
.order1{
    display: flex;
    justify-content: space-between;
}

#instructor{
    margin-right: 10%;
    margin-left: 25%;
    margin-top: 5%;
    border-radius: 12px;
    border: solid 2px gray;
    background-color: white;
    font-weight: bolder;
    border-width: 100%;
    height: max-content;
    font-size:large;
    padding-left: 10px;
    padding-right: 20px;
    justify-content: space-between;
}
#centered{
    text-align: center;
}
.img2{
    display: flex;
    justify-content: space-between;
    margin: 3% 10%;
}
#btn2{
    padding: 0px, 100px;
    margin-left: 45%;
    color: white;
    background-color: orange;
    border: solid orange 25px;
    border-radius: 5px;
}
#btn2b{
    padding: 0px, 150px;
    margin-left: 40%;
    color: white;
    background-color: orange;
    border: solid orange 5px;
    width: 300px;
    height: 40px;
    border-radius: 5px;
}


.Last{
    display: flex;
    color: white;
    padding: 1% 1%;
    align-items: center;
    justify-content: space-between;
    background-color: #26004c;
    margin: 0% 0%;
}
.LastL{
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    background-color: #26004c;
    margin: 0% 0%;
    padding-right: 35%;
    padding-left: 1%;
}
@media screen and (max-width: 810px){
    .orders{
        display: grid;
    }
    .order1{
        display: grid;
        font-size: smaller;
    }
    .Last{
        display: grid;
        width: 60%;
    }
    .LastL{
        display: grid;
        width: 26%;
    }
    .nav{
        display: grid;
        margin:10%;
    }
    #part1{
        display: grid;
        width: 60%;
    }
    #searchbtn{

        width: 30%;
    }
    #word1{
        display: grid;

    }
    #word2b{

    }
    #img11{
        width: 50%;
    }
    
    .img2{
        display: grid;
    }
    #centered{
        font-size: smaller;
        text-align: start;
    }
    #instructor{
        margin: 0;
        width: 50%;
    }
    #btn12{
        width: 60%;
        font-size: small;
        font-weight: bold;
    }
    #btn1{
        width: 50%;
        font-size: small;
    }
    .inImg{
        display: grid;
    }
    #word2{
        margin: 0%;
        
    }
    #word21{
        margin: 0%;
        
        
    }
    #btn2b{
        margin: 3%;
        width: 50%;
    }
    #img1{
        size: 10%;
    }
    #worda{
        margin: 0%;
        
    }
}
 
@media screen and (max-width: 1280px){
    .orders{
        display: grid;
        grid-template-columns: auto auto auto auto;

    }
    .order1{
        display: grid;
        grid-template-columns: auto auto auto auto;

        font-size: large;
    }
    .Last{
        display: grid;
        grid-template-columns: auto auto auto auto;

        width: 98%;
    }
    .LastL{
        display: grid;
        grid-template-columns: auto auto auto auto;

        width: 64%;
    }
    .nav{
        display: grid;
        grid-template-columns: auto auto auto auto auto;

        margin: 3% 15%;
    }
    #part1{
        display: grid;
        grid-template-columns: auto auto auto auto;
        margin: 1% 0%;

        width: 100%;
    }
    #searchbtn{

        width: 100%;
        text-align: center;
    }
    #word1{
        display: grid;

    }
    #word2b{

    }
    #img11{
        width: 100%;
    }
    
    .img2{
        display: grid;
        grid-template-columns: auto auto auto auto;

    }
    #centered{
        font-size: large;
        text-align: center;
    }
    #instructor{
        margin: 25% 5%;
        width: 100%;
    }
    #btn12{
        font-size: small;
        font-weight: bold;
    }
    #btn1{
        width: 100%;
        font-size: small;
    }
    .inImg{
        font-family: 'Times New Roman', Times, serif;
        margin: 0%;
    }
    #word2{
        margin: 0%;
        
    }
    #word21{
        margin: 0%;
        
        
    }
    #btn2b{
        margin: 3%;
        width: 10%;
        text-align: center;
        justify-content: center;
        margin-left: 45%;
    }
    #img1{
        size: 100%;
    }
    #worda{
        margin: 0%;
        
    }
}
@media screen and (max-width: 540px){
    .orders{
        display: grid;
        grid-template-columns: auto auto auto auto;

    }
    .order1{
        display: grid;
        grid-template-columns: auto auto auto auto;

        font-size: large;
    }
    .Last{
        display: grid;
        grid-template-columns: auto auto auto auto;

        width: 98%;
    }
    .LastL{
        display: grid;
        grid-template-columns: auto auto auto auto;

        width: 64%;
    }
    .nav{
        display: grid;
        grid-template-columns: auto auto auto auto auto;

        margin: 3% 15%;
    }
    #part1{
        display: grid;
        grid-template-columns: auto auto auto auto;
        margin: 1% 0%;

        width: 100%;
    }
    #searchbtn{

        width: 100%;
        text-align: center;
    }
    #word1{
        display: grid;

    }
    #word2b{

    }
    #img11{
        width: 100%;
    }
    
    .img2{
        display: grid;
        grid-template-columns: auto auto auto auto;

    }
    #centered{
        font-size: large;
        text-align: center;
    }
    #instructor{
        margin: 25% 5%;
        width: 100%;
    }
    #btn12{
        font-size: small;
        font-weight: bold;
    }
    #btn1{
        width: 100%;
        font-size: small;
    }
    .inImg{
        font-family: 'Times New Roman', Times, serif;
        margin: 0%;
    }
    #word2{
        margin: 0%;
        
    }
    #word21{
        margin: 0%;
        
        
    }
    #btn2b{
        margin: 3%;
        width: 10%;
        text-align: center;
        justify-content: center;
        margin-left: 45%;
    }
    #img1{
        size: 100%;
    }
    #worda{
        margin: 0%;
        
    }
}

 
